body {
  background: #0f2027;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  font-family: "Nunito", sans-serif;
}

#container {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: auto;
  min-width: 375px;
  text-align: center;
}

#gameTitle {
  color: white;
  font-family: "Baloo", cursive;
  font-size: 3em;
  letter-spacing: 6px;
  line-height: 1;
  margin: 15px 0;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

#card-trivia {
  display: none;
  grid-template-columns: 30% 1fr;
  grid-template-rows: repeat(6, 1rf);
  grid-auto-rows: 1fr;
  grid-template-areas:
    "trivia-answer-image trivia-question"
    "trivia-answer-image trivia-question"
    "trivia-answer-image trivia-answers"
    "trivia-answer-image trivia-answers"
    "trivia-answer-image trivia-answers"
    "timer-message trivia-answers";
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  min-width: 375px;
  max-width: 650px;
  height: 280px;
  margin: 0 auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.45);
}

#card-trivia__question {
  grid-area: trivia-question;
  background-color: whitesmoke;
  font-weight: bold;
  font-size: 1.15em;
  letter-spacing: 1px;
  padding: 10px;
}

#card-trivia__answer-image {
  grid-area: trivia-answer-image;
}

#card-trivia__answers {
  grid-area: trivia-answers;
  display: grid;
}

#card-trivia__timer-message {
  grid-area: timer-message;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: teal;
  color: white;
  font-size: 1.2em;
  font-weight: 100;
}

#card-trivia__answers > * {
  cursor: pointer;
  font-size: 1.15em;
}

#card-trivia__answers > *:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#message {
  display: none;
  letter-spacing: 2px;
}

.card-trivia__answer--hover-effect:hover {
  background-color: #739dbe;
  color: #fff;
}

.correct {
  color: green;
}

.correct > span {
  color: green;
}

.wrong {
  color: #ddd;
}

.wrong > span {
  color: red;
}

#button {
  background: rgba(36, 188, 248, 0.9);
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 4px;
  outline: none;
  padding: 20px;
  margin-top: 3em;
  text-transform: uppercase;
}

#button:hover {
  background: rgba(27, 145, 192, 0.9);
}

#button:active {
  background: rgba(21, 94, 122, 0.9);
}

#score {
  display: none;
  position: absolute;
  background: #fff;
  color: #000;
  font-size: 1.2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 250px;
  padding: 30px;
  border-radius: 20px;
  border: 5px dashed rgba(27, 145, 192, 0.9);
}

#close {
  display: block;
  color: #aaa;
  font-size: 2em;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: -5px;
}

#imageTrivia {
  width: 100%;
  height: 100%;
}

.expand-image {
  width: 170px !important;
}

/* Mobile view */
@media all and (max-width: 650px) {
  #container {
    padding: 0 20px;
    min-width: 320px;
  }

  #card-trivia {
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "trivia-question trivia-question"
      "trivia-answer-image trivia-answers"
      "trivia-answer-image trivia-answers"
      "trivia-answer-image trivia-answers"
      "trivia-answer-image trivia-answers"
      "timer-message timer-message";
    min-width: 280px;
    height: 350px;
  }

  #card-trivia__question {
    padding: 15px;
  }

  #card-trivia__answer-image {
    width: 0px;
    transition: width 1s;
  }

  #gameTitle {
    font-size: 2.5em;
  }

  .flip-box-front {
    display: none;
  }

  .flip-box-back img {
    min-width: 100%;
    min-height: 100%;
    display: block;
    object-fit: cover;
  }
}

/* Initial loading spinner */
.looping-rhombuses-spinner,
.looping-rhombuses-spinner * {
  box-sizing: border-box;
}

.looping-rhombuses-spinner {
  width: calc(15px * 4);
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.looping-rhombuses-spinner .rhombus {
  height: 15px;
  width: 15px;
  background-color: rgba(36, 188, 248, 0.9);
  left: calc(15px * 4);
  position: absolute;
  margin: 0 auto;
  border-radius: 2px;
  transform: translateY(0) rotate(45deg) scale(0);
  animation: looping-rhombuses-spinner-animation 2500ms linear infinite;
}

.looping-rhombuses-spinner .rhombus:nth-child(1) {
  animation-delay: calc(2500ms * 1 / -1.5);
}

.looping-rhombuses-spinner .rhombus:nth-child(2) {
  animation-delay: calc(2500ms * 2 / -1.5);
}

.looping-rhombuses-spinner .rhombus:nth-child(3) {
  animation-delay: calc(2500ms * 3 / -1.5);
}

@keyframes looping-rhombuses-spinner-animation {
  0% {
    transform: translateX(0) rotate(45deg) scale(0);
  }
  50% {
    transform: translateX(-233%) rotate(45deg) scale(1);
  }
  100% {
    transform: translateX(-466%) rotate(45deg) scale(0);
  }
}

/* Flip image 3d effect classes */
.flip-box {
  width: 100%;
  height: 100%;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-back {
  transform: rotateY(180deg);
  overflow: hidden;
}

.flip-answer-image {
  transform: rotateY(180deg);
}
